 body{
    background-image:url(blur1.jpg);
   background-size: auto;
    background-position: center;
    background-attachment: fixed;
    background-attachment: fixed;
} 
img{
border-radius:500%;
height: 80px;
}
h2{
    color: white;
    position: absolute;
    left: 40%;
    top: 25%;
    font-size: 30px;
    color:white;

}
.navbar{
    position: absolute;
    right:0%;
    top: 0;

}
.navbar ul li{
    list-style: none;
    display: inline-flex;
    margin: 10px;
}
.navbar ul li a{
    text-decoration: none;
    border: 1px solid white;
    padding: 5px;
    color:whitesmoke;
    }
.navbar ul li a:hover{
    background-color: white;
    color: black;
}
.logo
{
    color: white;
    display: inline-flex;

}
    
